.exam {
  background-color: rgb(217, 217, 223);
}
.exam .form {
  /* display: flex;
    flex-direction: column; */
  position: relative;
}
.exam .form input {
  width: 100%;
  border-radius: 6px;
}
.exam .form label {
  font-size: 20px;
  font-weight: normal;
}
.exam .button {
  width: 20%;
  margin-top: 30px;
}
.exam button {
  background-color: rgb(40, 124, 40);
  color: white;
  border: none;
  border-radius: 8px;
  height: 41px;
  width: 100%;
}
.exam__nav {
  /* display: inline-flex;
    justify-content: space-around;
    margin:70px 0 70px; */
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 15px 0 15px;
}
.exam__nav div a {
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.exam__modal-content {
  width: 700px;
}
.exam__subject__input {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.exam__subject__input input {
  height: 38px;
  border: 1px solid rgb(173, 168, 168);
}
.exam__subject__input button {
  margin-top: 20px;
  width: 75%;
}
.modal__body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top:2px solid rgb(187, 183, 183);
}
.exam__link{
  display: ;
}
